[tool.poetry]
name = "blackboxopt"
version = "4.3.1"
description = "A common interface for blackbox optimization algorithms along with useful helpers like parallel optimization loops, analysis and visualization scripts."
readme = "README.md"
repository = "https://github.com/boschresearch/blackboxopt"
authors = ["Bosch Center for AI, Robert Bosch GmbH"]
license = "Apache-2.0"
classifiers = [
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
]

[tool.poetry.dependencies]
python = "^3.7.1"
parameterspace = "^0.7.2"
numpy = {version = "^1.20.1", optional = true}
plotly = {version = "^4.14.3", optional = true}
scipy = {version = "^1.6.0", optional = true}
statsmodels = {version = "^0.13.2", optional = true}
dask = {version = "^2021.2.0", optional = true}
distributed = {version = "^2021.2.0", optional = true}
pandas = {version = "^1.2.4", optional = true}

[tool.poetry.dev-dependencies]
black = "^21.8b0"
isort = "^5.7.0"
pytest = "^6.2.2"
mypy = "^0.910"
pytest-timeout = "^1.4.2"
mkdocs = "^1.1.2"
mkdocstrings = "^0.15.0"
mkdocs-material = "^7.1.11"
pytest-cov = "^2.11.1"
mkdocs-gen-files = "^0.3.1"
mkdocs-awesome-pages-plugin = "^2.5.0"
mike = "^1.1.0"
pylint = "^2.8.2"
pydocstyle = "^6.1.1"
pre-commit = "^2.16.0"

[tool.poetry.extras]
all = ["numpy", "plotly", "scipy", "statsmodels", "dask", "distributed", "pandas"]
hyperband = ["numpy"]
bohb = ["numpy", "scipy", "statsmodels"]
dask = ["dask", "distributed"]
visualization = ["plotly", "scipy", "pandas"]
testing = ["numpy"]

[tool.mypy]
ignore_missing_imports = true
no_strict_optional = true

[tool.black]
line-length = 88
# Examples should remain with line-length 80:
exclude = '^blackboxopt/examples/'

[tool.isort]
profile = "black"
# Examples should remain with line-length 80:
skip_glob = 'blackboxopt/examples/**'

[tool.pylint.format]
max-line-length = 88

[tool.pylint.messages_control]
disable = [
    # Switched off due to possible collisions with black:
    "bad-continuation",
    "bad-whitespace",
    # Switched off to be less aggressive
    "missing-module-docstring",
    "missing-class-docstring",
    "missing-function-docstring",
    "invalid-name",
    "logging-not-lazy",
    "logging-format-interpolation",
    "logging-fstring-interpolation",
    "duplicate-code",
    "too-many-instance-attributes",
    "too-many-arguments",
    "too-few-public-methods",
    "too-many-function-args"
]

[tool.pydocstyle]
convention = "google"
add-ignore = "D105"
match = '(?!test_|__init__).*\.py'
match-dir = '[^\tests].*'

[tool.coverage.run]
source = ['blackboxopt']

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
