[tool.poetry]
name = "blackboxopt"
version = "4.9.1"
description = "A common interface for blackbox optimization algorithms along with useful helpers like parallel optimization loops, analysis and visualization scripts."
readme = "README.md"
repository = "https://github.com/boschresearch/blackboxopt"
authors = ["Bosch Center for AI, Robert Bosch GmbH"]
license = "Apache-2.0"
classifiers = [
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]

[tool.poetry.dependencies]
python = ">=3.8,<3.12"
parameterspace = ">=0.7.2,<0.9"
numpy = {version = "^1.22.0", optional = true}
plotly = {version = "^5.10.0", optional = true}
scipy = {version = "^1.6.0", optional = true}
statsmodels = {version = "^0.13.2", optional = true}
dask = {version = "^2023.1.0", optional = true}
distributed = {version = "^2023.1.0", optional = true}
pandas = {version = "^1.2.4", optional = true}
botorch = {version = "^0.7.1", optional = true}

[tool.poetry.dev-dependencies]
black = "^22.3.0"
isort = "^5.10.1"
pytest = "^7.2.0"
mypy = "^0.950"
pytest-timeout = "^2.1.0"
pytest-cov = "^3.0.0"
mkdocs = "^1.3.0"
mkdocstrings = {version="^0.18.1", extras=["python-legacy"]}
mkdocs-material = "^8.2.11"
mkdocs-gen-files = "^0.3.4"
mkdocs-awesome-pages-plugin = "^2.7.0"
mike = "^1.1.2"
pylint = "^2.13.8"
pydocstyle = "^6.1.1"
pre-commit = "^2.18.1"
toml = "^0.10.2"
types-toml = "^0.10.7"
kaleido = "0.2.1"  # pin hard, because 0.2.1post1 fails to install

[tool.poetry.extras]
all = ["numpy", "plotly", "scipy", "statsmodels", "dask", "distributed", "pandas", "botorch"]
hyperband = ["numpy"]
bohb = ["numpy", "scipy", "statsmodels"]
botorch = ["botorch"]
space-fill = ["numpy", "scipy"]
dask = ["dask", "distributed"]
visualization = ["plotly", "scipy", "pandas"]
testing = ["numpy"]

[tool.mypy]
ignore_missing_imports = true
no_strict_optional = true

[tool.black]
line-length = 88
# Examples should remain with line-length 80:
exclude = '^blackboxopt/examples/'

[tool.isort]
profile = "black"
# Examples should remain with line-length 80:
skip_glob = 'blackboxopt/examples/**'
filter_files = true

[tool.pylint.format]
max-line-length = 88

[tool.pylint.messages_control]
generated-members = ["torch.*", "numpy.*"]
disable = [
    # Switched off due to possible collisions with black:
    "bad-continuation",
    "bad-whitespace",
    # Switched off to be less aggressive
    "missing-module-docstring",
    "missing-class-docstring",
    "missing-function-docstring",
    "invalid-name",
    "logging-not-lazy",
    "logging-format-interpolation",
    "logging-fstring-interpolation",
    "duplicate-code",
    "too-many-instance-attributes",
    "too-many-arguments",
    "too-few-public-methods",
    "too-many-function-args"
]

[tool.pydocstyle]
convention = "google"
add-ignore = "D105"
match = '(?!test_|__init__).*\.py'
match-dir = '[^\tests].*'

[tool.coverage.run]
source = ['blackboxopt']

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
